<div th:replace="parts/header"></div>

<h3>Список всех пользователей</h3>

<div align="center" id="message" th:class="${status}">[[${message}]]</div>

Всего пользователей: <b id="countUsers">[[${count}]]</b>

<table id="mainTable" class="users_table">
    <thead>
    <tr>
        <th>№</th>
        <th>id</th>
        <th>Username</th>
        <th>Баланс</th>
        <th>Роли</th>
        <th th:if="${canDoActions == true}">Удалить пользователя</th>
    </tr>
    </thead>
    <tr class="userTr" th:each="user, state : ${users}">
        <td class="numberTd">[[${state.index} + 1]]</td>
        <td>[[${user.id}]]</td>
        <td>[[${user.username}]]</td>
        <td>[[${user.balance}]]</td>
        <td>[[${user.roles}]]</td>
        <td th:if="${canDoActions == true}">
            <a href="javascript://" th:onclick="@{deleteUser(} + ${user.id} + @{, 3000, $(this).parents('tr'));}">Удалить</a>
        </td>

    </tr>
</table>


<div th:replace="parts/footer"></div>